fastapi
uvicorn
python-dotenv
pydantic
python-multipart
google-generativeai
openai
langchain
langchain-community
langchain-openai
langchain-text-splitters
langchain-chroma
pypdf
ultralytics
tiktoken
chromadb
httpx